/Library/
/Temp/
/obj/
/Logs/
/UserSettings/
/Recordings/

.vs/
*.gitignore
*.vsconfig

.gradle/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app